<div class="row">
    <div class="col-sm-8">
        <%= render 'lists/list_form' %>
        <%= render 'lists/lists' %>
        <%= render 'posts/my_posts' %>
    </div>
    <div class ="col-sm-4">
        <%= render '/layouts/profile_panel' %>
        <%= render 'layouts/popular' %>
        <%= render 'layouts/footer' %>
    </div>
</div>
