<div class="row">
    <div class="col-xs-8">
        <%= render '/components/post_form' %>
        <% for @p in @posts %>
            <div class="panel panel-default post-panel">
                <div class="panel-body">
                    <h4 class="col-xs-8">
                        <p><%= @p.content %></p>
                        <p style="opacity:.7; font-size: 70%;"><%= Post.find(@p.id).expires_at %></p>
                    </h4>
                    <h4 class="col-xs-4">
                        <div class="countdown post-content" data-countdown="<%= Post.find(@p.id).expires_at %>"></div>
                    </h4>
                    <script type = "text/javascript">
                        $('[data-countdown]').each(function() {
                            var $this = $(this), finalDate = $(this).data('countdown');
                            $this.countdown(finalDate, function(event) {
                              $this.html(event.strftime('%D:singular,plural; days <br> %H:%M:%S'));
                            });
                            $this.on('finish.countdown', function(event){
                                $(this).text("Completed!");
                            });
                        });
                    </script>
                    <p class="col-xs-12">
                        <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-plus g-links" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove g-links" aria-hidden="true"></span>
                        <span class="g-links" style="font-size:80%" aria-hidden="true">
                            by <%= User.find(@p.user_id).username %> on <%= @p.created_at.strftime("%m-%d-%Y") %>
                        </span>
                    </p>
                </div>
            </div>
        <% end %>
        <div class="panel panel-default post-panel panel-body">
            <center><a href="#top"><p class="opacity: 0.7;">
                Back to Top<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            </p></a></center>
        </div>    
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>
                            <a href="/user/<%= current_user.username %>"><%= current_user.username %></a>
                        </h4>
                    </div>
                    <div class="col-xs-6" style="opacity: 0.7; font-size: 80%;">
                        POSTED EVENTS<br>
                        <h6 style="font-size: 200%;">16</h6>
                    </div>
                    <div class="col-xs-6" style="opacity: 0.7; font-size: 80%;">
                        SAVED EVENTS<br>
                        <h6 style="font-size: 200%;">15</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Popular</h4>
                <a href="">Event A</a><br>
                <span>31 Likes</span><br><br>
                <a href="">Event B</a><br>
                <span>49 Likes</span><br><br>
                <a href="">Event C</a><br>
                <span>32 Likes</span><br><br>
                <a href="">Event D</a><br>
                <span>28 Likes</span><br><br>
            </div>
        </div>
        <footer><p style="opacity: .5; font-size: 90%; text-align: center;">
            @ 2017 Listapp About Help Terms Privacy Cookies Ads Info Brand Blog Status Apps Jobs Advertise Business Media Developers</p>
        </footer>
    </div>
</div>