<div class="row">
    <div class="col-xs-8">
        <%= render '/components/post_form' %>
        <% for @p in @posts %>
            <div class="panel panel-default post-panel">
                <div class="panel-body">
                    <p class="post-title">
                        <span class="post-owner">
                            <%= User.find(@p.user_id).username %>
                        </span>
                        <span class="post-creation">
                            <%= @p.created_at.to_formatted_s(:short) %>
                        </span>
                    </p>
                    <p class="post-content"><%= @p.content %></p>
                    <div class="countdown post-content">
                        <script type="text/javascript">
                          $('.countdown').countdown('<%= Post.find(@p.id).expires_at %>', function(event) {
                            $(this).html(event.strftime('%D DAYS %H:%M:%S'));
                          });
                        </script>
                    </div>
                    <p class="post-links">
                        <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-plus g-links" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
                        <a href="" style="float:right;">View Conversation</a>
                    </p>
                </div>
            </div>
        <% end %>
        <div class="panel panel-default post-panel panel-body">
            <center><a href="#top"><p class="opacity: 0.7;">
                Back to Top<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            </p></a></center>
        </div>    
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>
                            <a href="/user/<%= current_user.username %>"><%= current_user.username %></a>
                        </h4>
                    </div>
                    <div class="col-xs-6" style="opacity: 0.7; font-size: 80%;">
                        POSTED EVENTS<br>
                        <h6 style="font-size: 200%;">16</h6>
                    </div>
                    <div class="col-xs-6" style="opacity: 0.7; font-size: 80%;">
                        SAVED EVENTS<br>
                        <h6 style="font-size: 200%;">15</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Popular</h4>
                <a href="">Event A</a><br>
                <span>31 Likes</span><br><br>
                <a href="">Event B</a><br>
                <span>49 Likes</span><br><br>
                <a href="">Event C</a><br>
                <span>32 Likes</span><br><br>
                <a href="">Event D</a><br>
                <span>28 Likes</span><br><br>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <footer><p style="opacity: .5; font-size: 90%; text-align: center;">
            @ 2017 Listapp About Help Terms Privacy Cookies Ads Info Brand Blog Status Apps Jobs Advertise Business Media Developers</p>
        </footer>
    </div>
</div>