<div class="panel panel-default">
  <div class="panel-body row">
    <%= form_for([@list, @post])do|f| %>
      <div class="field col-sm-12">
          Event Title:
          <%= f.text_field :content, autofocus: true, class: "form-control"%>
      </div>
      <div class="field col-sm-12">
          Event Description:
          <%= f.text_field :description, class: "form-control"%>
      </div>
      <div class='col-sm-12'>
          <div class='input-group date' id='datetimepicker1'>
              Date and Time:
              <%= f.datetime_select :expires_at, class: "form-control", placeholder: "Date and Time" %>
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker();
              });
          </script>
      </div>
      <div class="col-sm-8">
          Image URL:
          <%= f.text_field :image, class: "form-control" %>
          <br>
      </div>
      <div class="col-sm-4 col-sm-offset-8">
          <%= f.submit "Add Event", class:"btn btn-submit btn-primary form-control" %>
      </div>
    <% end %>
  </div>
</div>