<% for @p in @posts %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                <div class="countdown" data-countdown="<%= Post.find(@p.id).expires_at %>"></div>
            </h4>
            <script type = "text/javascript">
                $('[data-countdown]').each(function() {
                    var $this = $(this), finalDate = $(this).data('countdown');
                    $this.countdown(finalDate, function(event) {
                        $this.html(event.strftime('%D:singular,plural; days %H hours %M minutes %S seconds'));
                    });
                    $this.on('finish.countdown', function(event){
                        $(this).text("Completed!");
                    });
                });
            </script>
        </div>
        <div class="panel-body">
            <h4>
                <p style="opacity:.7; font-size: 70%;"><%= Post.find(@p.id).expires_at %></p>
                <p>
                    <%= link_to (@p.content), post_path(@p) %>
                </p>
                <span class="g-links" style="font-size:80%" aria-hidden="true">
                    by <%= User.find(@p.user_id).username %> on <%= @p.created_at.strftime("%m-%d-%Y") %>
                </span>
            </h4>
            <footer>
                <span class="g-links" aria-hidden="true">
                    <% if current_user.voted_for? @p %>
                    <%= link_to unlike_post_path(@p), method: :put, class: 'glyphicon glyphicon-thumbs-up btn btn-primary' do %>
                        <%= @p.cached_votes_total %>
                    <% end %>
                    <% else %>
                    <%= link_to like_post_path(@p), method: :put, class: 'glyphicon glyphicon-thumbs-up btn btn-default' do %>
                        <%= @p.cached_votes_total %>
                    <% end %>
                    <% end %>
                </span>
            </footer>
        </div>
    </div>
<% end %>
<div class="panel panel-default post-panel panel-body">
    <center><a href="#top"><p class="opacity: 0.7;">
        Back to Top<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </p></a></center>
</div>