<div class="row">
    <div class="col-sm-8">
        <%= render '/layouts/groups' %>
        <%= render '/posts/posts' %>
    </div>
    <div class="col-sm-4">
        <%= render '/layouts/upcoming' %>
        <%= render '/layouts/popular' %>
        <%= render '/layouts/footer' %>
    </div>
</div>