      <div class="field col-sm-12">
          List: <br> <!-- add .uniq method to remove duplicates from select menu -->
          <%= f.select :list, Post.uniq.pluck(:list), {}, {:class => "selectpicker", :onchange => "();"}%>
          <div style="float:right;"><%= f.text_field :list, class: "form-control", placeholder: "Or Create New List"%></div>
      </div>
      
      
        <footer>
            <span class="g-links" aria-hidden="true">
                <% if current_user.voted_for? @post %>
                <%= link_to unlike_list_post_path(@post.list, @post), method: :put, class: 'glyphicon glyphicon-thumbs-up btn btn-primary' do %>
                    <%= @post.cached_votes_total %>
                <% end %>
                <% else %>
                <%= link_to like_list_post_path(@post.list, @post), method: :put, class: 'glyphicon glyphicon-thumbs-up btn btn-default' do %>
                    <%= @post.cached_votes_total %>
                <% end %>
                <% end %>
            </span>
            <div>
                <%= render 'comments/comments_panel' %>
            </div>
            <span class="g-links" aria-hidden="true">
                <%= link_to 'Edit', edit_list_post_path(@post.list, @post), data: { toggle: 'modal', target:"#myModaledit"} %>
            </span>
            <span class="g-links" aria-hidden="true">
                <%= link_to "Delete", [@post.list, @post], :data => {:confirm => "Are you sure?"}, :method => :delete %>
            </span>
            <span class="g-links" aria-hidden="true">
                List: <%= @list.name %>
            </span>
        </footer>
        
        <span style="float:right;" aria-hidden="true" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">New Event</span>
        
        
        
              <div class="field col-sm-12">
          List: <br>
          <%= f.select :list, Post.uniq.pluck(:list), {}, {:class => "selectpicker", :onchange => "();"}%>
          <div style="float:right;"><%= f.text_field :list, class: "form-control", placeholder: "Or Create New List"%></div>
      </div>
      
            <div class="col-sm-12">
          Image:
          <%= f.file_field :image %>
          <br>
          <% if f.object.image? %>
              <%= image_tag f.object.image.thumb.url %>
              <%= f.label :remove_image %>
              <%= f.check_box :remove_image %> 
          <% end %>
      </div>
      
      <div class="panel panel-default post-panel panel-body">
    <center><a href="#top"><p class="opacity: 0.7;">
        Back to Top<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </p></a></center>
</div>