<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <div class="countdown" data-countdown="<%= Post.find(@post.id).expires_at %>"></div>
        </h4>
        <script type = "text/javascript">
            $('[data-countdown]').each(function() {
                var $this = $(this), finalDate = $(this).data('countdown');
                $this.countdown(finalDate, function(event) {
                    $this.html(event.strftime('%D:singular,plural; days %H hours %M minutes %S seconds'));
                });
                $this.on('finish.countdown', function(event){
                    $(this).text("Completed!");
                });
            });
        </script>
    </div>
    <div class="panel-body">
        <h4>
            <p style="opacity:.7; font-size: 70%;"><%= Post.find(@post.id).expires_at %></p>
            <p><%= @post.content %></p>
            <span class="g-links" style="font-size:80%" aria-hidden="true">
            by <%= User.find(@post.user_id).username %> on <%= @post.created_at.strftime("%m-%d-%Y") %>
            </span>
        </h4>
        <footer>
            <span class="g-links" aria-hidden="true">
                <% if current_user.voted_for? @post %>
                <%= link_to unlike_post_path(@post), method: :put, class: 'glyphicon glyphicon-thumbs-up btn btn-primary' do %>
                    <%= @post.cached_votes_total %>
                <% end %>
                <% else %>
                <%= link_to like_post_path(@post), method: :put, class: 'glyphicon glyphicon-thumbs-up btn btn-default' do %>
                    <%= @post.cached_votes_total %>
                <% end %>
                <% end %>
            </span>
            <div class="comment-well">
                <div class="well">
                    <%= render 'comments/comments' %>
                    <%= render 'comments/comments_form' %>
                </div>
            </div>
            <span class="g-links" aria-hidden="true">
                <%= link_to "Delete", @post, :data => {:confirm => "Are you sure?"}, :method => :delete %>
            </span>
        </footer>
    </div>
</div>