<div class="panel panel-default hidden-xs">
    <div class="panel-body">
        <h4>
                <% if current_page?('/all') %>
                <%= "All Lists" %>
                <% elsif current_page?('/completed') %>
                <%= "Completed" %>
                <% elsif current_page?('/most_likes') %>
                <%= "Most Likes" %>
                <% elsif current_page?('/created_by_me') %>
                <%= "Created by me" %>
                <% else %>
                <%= @list.name %>
                <% end %>
        </h4>
        <hr>
        <h4>Filter by:</h4>
        <br>
        <%= link_to "All Lists", '/all' %>
        <hr>
        <%= link_to "Most Likes", '/most_likes' %>
        <hr>
        <%= link_to "Completed", '/completed' %>
        <hr>
        <h4>My Subscribed Lists:</h4>
        <br>
        <% @lists.each do |list| %>
            <%= link_to list.name, list_posts_path(list) %>
            <span style="float:right;" class="glyphicon glyphicon-option-vertical"></span>
            <hr>
        <% end %>
        <%= link_to new_list_path, class:"btn btn-default" do%>
        <span class="glyphicon glyphicon-plus"></span> New List
        <% end %>
    </div>
</div>