<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    
    <div class="panel-heading clearfix">
      <h4 class="panel-title">
        <div style="float:left;">
          <a class="btn btn-default" data-toggle="collapse" data-target="#collapseGroup" data-parent="#accordion">
            List: <%= @list.name %>
            <span class="glyphicon glyphicon-menu-down"></span>
          </a>
        </div>
        <div style="float:right;">
          <a class="btn btn-default" data-toggle="collapse" data-target="#collapseGroupNew" data-parent="#accordion">
            <span class="glyphicon glyphicon-plus"></span> New
          </a>
        </div>
      </h4>
    </div>
    
    <div id="collapseGroup" class="panel-collapse collapse">
      <div class="panel-body">
        <%= link_to "All Lists", '/lists' %>
        <hr>
        <% List.all.each do |list| %>
          <%= link_to list.name, list_posts_path(list) %>
          <span style="float:right;" class="glyphicon glyphicon-option-vertical"></span>
          <hr>
        <% end %>
      </div>
    </div>
    
    <div id="collapseGroupNew" class="panel-collapse collapse">
      <div class="panel-body">
        <%= link_to new_list_path do%>
          Create List
        <% end %>
        <hr>
        <%= link_to new_list_post_path do%>
          Create Countdown
        <% end %>
        <hr>
        Import Countdown from Facebook
        <hr>
      </div>
    </div>
    
  </div>
</div>


<script type = "text/javascript">
$('.selectpicker').selectpicker({
  liveSearch: true,
  width: 'fit'
});
</script>