<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid container col-sm-8 col-sm-offset-2">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand remachine hidden-xs" href="/" id="navbar-collapse-1">FOMO</a>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <!-- Notification button -->
      <%= link_to new_list_path, class:"btn btn-default navbar-btn" do%>
        <span class="glyphicon glyphicon-bell"></span>
        <span class="hidden-md hidden-sm hidden-xs">Notifications</span>
      <% end %>
      <div class="badge badge-notify">5</div>
      
      <!-- List menu button toggles dropdown panel-->
      <% if controller.controller_name == "posts" || current_page?('/all') || current_page?('/completed') || current_page?('/most_likes')%>
      <a class="btn btn-default btn-group hidden-lg hidden-md hidden-sm" data-toggle="collapse" data-target="#collapseGroup">
          <% if current_page?('/all') %>
          <%= "All Lists" %>
          <% elsif current_page?('/completed') %>
          <%= "Completed" %>
          <% elsif current_page?('/most_likes') %>
          <%= "Most Likes" %>
          <% else %>
          <%= @list.name.truncate(12) %>
          <% end %>
        <span class="glyphicon glyphicon-menu-down"></span>
      </a>
      <% end %>
      
      <!-- New Countdown button resizes with page -->
      <% if controller.controller_name == "posts" %>
      <%= link_to new_list_post_path, class:"btn btn-default navbar-btn" do%>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-md hidden-sm hidden-xs">New Countdown</span>
      <% end %>
      <% end %>
      
      <!-- Notifications panel -->
      <!--<div id="collapseGroup" class="panel-collapse collapse">
        <div class="panel-body">
        </div>
      </div>-->
      
      <!-- List menu panel -->
      <div id="collapseGroup" class="panel-collapse collapse">
        <div class="panel-body">
          <a class="navbar-brand remachine visible-xs">FOMO</a>
          <br>
          <br>
          <hr>
          <h4>Filter by:</h4>
          <br>
          <%= link_to "All Lists", '/all', :class=>"btn btn-links"  %>
          <hr>
          <%= link_to "Most Likes", '/most_likes', :class=>"btn btn-links"  %>
          <hr>
          <%= link_to "Completed", '/completed', :class=>"btn btn-links"  %>
          <hr>
          <h4>My Subscribed Lists:</h4>
          <br>
          <% @lists.each do |list| %>
            <%= link_to list.name, list_posts_path(list), :class=>"btn btn-links" %>
            <span style="float:right;">
                 <%= link_to "", [list], :class=>"glyphicon glyphicon-option-vertical btn btn-links" %>
            </span>
            <hr>
          <% end %>
          <%= link_to new_list_path, class:"btn btn-default" do%>
            <span class="glyphicon glyphicon-plus"></span> New List
          <% end %>
        </div>
      </div>
      
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/help">Help</a></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete)%> </li>
        <!--<li type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
    
  </div><!-- /.container-fluid -->
</nav>
