<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <h4>
                    <a href="/user/<%= current_user.username %>"><%= @username %></a>
                </h4>
            </div>
            <div class="col-sm-6" style="opacity: 0.7; font-size: 80%;">
                POSTED EVENTS<br>
                <h6 style="font-size: 200%;">
                    <%= Post.where(:user_id => current_user.id).count %>
                </h6>
            </div>
            <div class="col-sm-6" style="opacity: 0.7; font-size: 80%;">
                CREATED LISTS<br>
                <h6 style="font-size: 200%;">
                    <%= List.where(:user_id => current_user.id).count %>
                </h6>
            </div>
            <div class="col-sm-6" style="opacity: 0.7; font-size: 80%;">
                COMMENTS<br>
                <h6 style="font-size: 200%;">
                    <%= current_user.comments.count %>
                </h6>
            </div>
            <div class="col-sm-6" style="opacity: 0.7; font-size: 80%;">
                LIKED EVENTS<br>
                <h6 style="font-size: 200%;">
                    <%= current_user.find_liked_items.count %>
                </h6>
            </div>
        </div>
    </div>
</div>